*.pyc
*.py~
*.db*
*/.env
*/.venv
*/__pycache__

node_modules


.idea/
.vscode/

# Output
.output
.vercel
.netlify
.wrangler
*/.svelte-kit
/build
/back/.ruff_cache

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
