@forward "normalize";
@forward "themes";
@forward "fonts";

body {
  background-color: var(--bg);
  color: var(--white);
  overflow-x: hidden;
  font-weight: normal;
  font-family: Inter, sans-serif;
  scrollbar-color: var(--primary);

  padding: 20px 40px;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hscale {
  transition: all 200ms;

  &:hover {
    transform: scale(1.02);
  }
}

.zindex {
  z-index: 1;
}

.hidden {
  display: none;
}

.wl {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-family: Lobster, sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}